<%= simple_form_for :session, url: session_path do |f| %>
  <div class='form-inputs'>
    <%= f.input :email, :type => 'email' %>
    <%= f.input :password %>
  </div>

  <div class='form-actions'>
    <%= f.button :submit, "Sign In" %>
  </div>

  <div class='other-links'>
    <%= link_to t('.sign_up'), sign_up_path %>
    <%= link_to t('.forgot_password'), new_password_path %>
  </div>
<% end %>
