<h1>Listing statuses</h1>


<% @statuses.each do |status| %>
    <p><%= status.user_id %></p>
    <p><%= status.content %></p>
    <p><%= link_to 'Show', status %></p>
    <p><%= link_to 'Edit', edit_status_path(status) %></p>
    <p><%= link_to 'Destroy', status, method: :delete, data: { confirm: 'Are you sure?' } %></p>
<% end %>
<br />

<%= link_to 'New Status', new_status_path %>
