<legend><%= @plan.titleize if @plan %> Plan</legend> 

<div class='text-field'>
  <%= form.hidden_field :role_ids, { value: Role.find_by_name(@plan).id } %>
  <%= form.hidden_field :profile_name, { value: "#{ profile_name_default }" } %>
  <%= form.label :email %>
  <%= form.text_field :email, :type => 'email' %>
</div>

<div class='password-field'>
  <%= form.label :password %>
  <%= form.password_field :password %>
</div>
