<%= simple_form_for @band do |b| %>
  <%= b.error_notification %>
  	<% #= b.input :id, as: :hidden, input_html: { value: @user.id } %>  
    <%= b.input :name, placeholder: "The Light Eaters" %>

     	<%= b.simple_fields_for :members do |p| %>
          <%= p.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
      		<%= p.input :position, placeholder: "Sparrow Breeder" %>
    	<% end %>
    
    <%= b.input :bio, as: :text, :input_html => {rows: 8} %>

  <div class="form-actions">
    <%= b.button :submit %>
  </div>
<% end %>
