<p id="notice"><%= notice %></p>

<div class="row-fluid">

	<div class="span3">
		<p> <img src="http://placehold.it/350" /> </p>

		<div> 
			<p class="page-header lead"> <%= @band.name %> Members</p>
			<%= render 'members/band_members' %> 
		</div>
	</div>
		
	<div class="span9">
		<h1> <%= @band.name %> </h1>
		<% unless @band.bio.nil? || @band.bio.empty? %>
			<p class="lead"> <%= @band.bio %> </p>
		<% end %>
    </div>

    <div class="span9">
    	<div class="page-header"> <h2>Available Tracks</h2> </div>
		<%= render 'test_mp3' %>
	</div>
	
</div>